---
import ProductItem from "../../../components/productItem.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="C#">
<h1>C#</h1>
<ProductItem name="C# สำหรับผู้เริ่มต้น"
image="https://placehold.co/300x300"
price="390"></ProductItem>
</BaseLayout>
