---
import ProductItem from '../../../components/productItem.astro'
import BaseLayout from '../../../layouts/BaseLayout.astro'
---

<BaseLayout title="'Java">
    <h1>Java</h1>
    <ProductItem name="Java สำหรับผู้เริ่มต้น"
    image="https://placehold.co/300x300"
    price="290"></ProductItem>
</BaseLayout>