---
import BaseLayout from '../../../layouts/BaseLayout.astro'
---

<BaseLayout title="'Java">
    <h1>Java</h1>
    <productItem name="Java สำหรับผู้เริ่มต้น" image="https://placehold.co/300x300" price="290"></productItem>
</BaseLayout>